card {
  align-items: center;
  background: linear-gradient(-45deg, #474c85, #565c9f, #888cbf, #888cbf, #474c85);
  border: 3px solid black;
  border-radius: 6px;
  box-shadow: 1px 2px 2px 1px rgb(7, 7, 7, 0.6);
  display: flex;
  flex-flow: column;
  height: 410px;
  justify-content: space-around;
  width: 240px;
}

.card-name {
  align-items: center;
  background: linear-gradient(-45deg, #80ded9, #2aa29e, white, #2aa29e, #2aa29e, #80ded9);
  display: flex;
  flex-flow: row nowrap;
  height: 6%;
  justify-content: space-around;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;

}

.card-name h3 {
  font-size: 16px;
  font-weight: 500;
}

.hidden {
  color: rgb(128, 222, 217, 0);
  font-size: 1px;
}


card img {
  background-color: whitesmoke;
  border: 1px solid rgb(6, 141, 157);
  border-radius: 6px;
  height: 45%;
  width: 96%;
}

.description {
  align-items: flex-start;
  background-color: rgb(128, 222, 217, 0.3);
  border: 2px solid rgb(6, 141, 157);
  border-radius: 6px;
  display: flex;
  flex-flow: column;
  font-size: 14px;
  height: 25%;
  justify-content: flex-start;
  width: 96%;
}

.description h6 {
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin: 6px;
}

.description p {
  border-radius: 6px;
  color: white;
  font-size: 12px;
  height: 60%;
  margin: 0 6px;
  white-space: wrap;
  width: 96%;
  word-wrap: break-word;
}

.attributes {
  display: flex;
  flex-flow: row;
  height: 15%;
  justify-content: space-around;
  width: 96%;
}

.att-name {
  align-items: center;
  background: linear-gradient(-45deg, #80ded9, #2aa29e, #80ded9);
  border: 1px solid rgb(6, 141, 157);
  border-radius: 200px;
  color: white;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-around;
  width: 30%;
}

.att-name p {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 2px;
}

.att {
  align-items: center;
  background-color: white;
  border: 1px solid rgb(6, 141, 157);
  border-radius: 100%;
  color: black;
  display: flex;
  font-size: 20px;
  height: 65%;
  justify-content: center;
  margin-top: 0;
  width: 50%;
}
