main {
  align-items: center;
  background: linear-gradient(-65deg, #aeecef, #77dfe4, #77dfe4, #aeecef);
  display: flex;
  flex-direction: column;
}

h1 {
  background-clip: text;
  background-image: linear-gradient(-45deg, #565c9f, #888cbf, #565c9f);
  color: transparent;
  font-size: 40px;
}

.form-preview {
  align-items: center;
  background-color: rgb(83, 89, 154, 0.1);
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  height: 80vh;
  justify-content: space-around;
  width: 90%;
}

.card-button {
  background: linear-gradient(-45deg, #565c9f, #888cbf, #888cbf, #565c9f);
  border: 1px solid #565c9f;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px rgb(7, 7, 7, 0.6);
  color: white;
  font-size: 20px;
  margin-top: 20px;
  width: 200px;
}

.card-button:hover {
  cursor: pointer;
}

.card-button:active {
  box-shadow: none;
}

.card-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: 160vh;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 90%;
}


.card-onlist {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
  width: 21%;
}

.card-onlist button {
  background-color: red;
  border: 2px solid #8b2405;
  border-radius: 4px;
  color: white;
  margin-top: 6px;
}

.card-onlist button:hover {
  cursor: pointer;
}
